<!DOCTYPE html>
<html>
    <head>

<link rel="icon" href="/img/weather.jpg">
<link rel="stylesheet" href="/css/style.css"> 



    </head>
    <body>
{{>header}}
<p>This site is created by Abu Bakkr siddique. It uses data from mapbox.com and weatherStack.com</p>
<img class="portrait" src="/img/me.jpg">
{{>footer}}
    </body>
</html>