<!DOCTYPE html>
<html>
    <head>

<link rel="icon" href="/img/weather.jpg">

<link rel="stylesheet" href="/css/style.css"> 


    </head>
    <body>
{{>header}}
<img src="/img/me.jpg">
{{>footer}}
    </body>
</html>